<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>
	<title>KaChatKa| Where strangers meet you.</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- This is for google analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-40372090-4', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body>

	<header class="homebanner">

			<h1 class="homebannertext">
	          KaChatKa    -Connecting lives!
			</h1>

	</header>

	<section>
		<div class="homesection">
			<p>We were strangers when we met, and we were strangers when you left. -Blue Panda</p>
			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Random</div>
					<div id="big">CHAT!</div>
				</div>
			</a>
			<img src="/img/unicorn.gif" width="150" height="150">
			<img src="/img/panda.png" width="150" height="150">

		</div>

	</section>
	<div class="push"></div>
	<div class="footer">
		<div class = "footer-content" >
			<br>
			<p>Copyright (c) 2016</p></div>
	</div>

</body>
</html>
